body {
	margin:0;
	padding:0;
	color: #333;
	background: #fff;
	font-size: 100%;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings:"onum" 1;
	-ms-font-feature-settings:"onum" 1;
	-o-font-feature-settings:"onum" 1;
	-webkit-font-feature-settings:"onum" 1;
	font-feature-settings:"onum" 1;
}

html>body {
	font-size: 1.063em;
  font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
	width: 70%;
}

pre {
  border:0.25px solid #b2b2b2;
  padding:8pt;
}

abbr, acronym, .caps {
	-moz-font-feature-settings:"c2sc" 1, "onum" 1;
	-ms-font-feature-settings:"c2sc" 1, "onum" 1;
	-o-font-feature-settings:"c2sc" 1, "onum" 1;
	-webkit-font-feature-settings:"c2sc" 1, "onum" 1;
	font-feature-settings:"c2sc" 1, "onum" 1;
	font-style: normal;
	border-bottom: 0;
}

blockquote abbr, blockquote acronym, em abbr, em acronym
cite abbr, cite acronym {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
}

cite, em { font-style: italic; }

strong { font-weight: 500; }

img {
  border: 0;
  max-width: 100%;
}

a, a:visited, a:link, a:active, a:hover {
	color: #00408f;
	text-decoration: underline;
}

a:visited { color:#666; }

html>body a, html>body a:visited, html>body a:link,
html>body a:active, html>body a:hover {
	text-decoration: none;
	border-bottom: 1px solid #f2ecda;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

h1 {
	font-size: 1.75em;
	line-height: 1.083333333333333em;
	margin: 0 0 1.0em 0;
}

h2, h3 {
	font-size: 1.1875em; /* 19px */
	margin: 1.157894736842105em 0; /* 22px */
	text-indent: -0.052631578947368em; /* 1px */
}

h4 {
	font-size: 1em;
	margin: 0.868421053em 0;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	font-style: italic;
  font-family: 'Roboto Slab', serif;
}

ul, ol, dl {
	margin: 1.375em 0 1.375em 0;
}

li, dd, dt {
	margin: 0;
}

ul ul, ol ol {
	margin-left: 1.375em;
}

dd {
	margin-left: 1.375em;
}

p {
	margin-top: 0.5em;/* 1.375em; */
	line-height: 1.25em;
	margin-bottom: 0;
}

p + p {
	margin-top: 0.75em;
}

html > body q {
font-style:normal;
}

body blockquote q {
	font-style:italic;
}


#toc {
  font-family: "Roboto";
  font-weight: 300;
}

#toc ul, #toc ul li {
  margin-left: 0.6875em;
}